.content-div{
    background-image:url('https://i.pinimg.com/564x/d0/67/0d/d0670d01ce1bb85c7dee3d0433db18e8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.content-div:hover{
    background-image:
    linear-gradient(to right,
       rgba(18, 26, 43, 0.801), rgba(18, 26, 43, 0.80) ),
       url('https://i.pinimg.com/564x/d0/67/0d/d0670d01ce1bb85c7dee3d0433db18e8.jpg');
    }

    .image-cover  {
      height:260px;
    }
    /*
    -remove the classes below if you have the 'group-hover'property added in your tailwind config file
    -also remove the class from the html template
    */
      .content-div:hover .fd-cl{ 
   opacity: 0.25;
      }
      .content-div:hover .fd-sh{ 
   opacity: 1;
      }
      
      .object{
        width: 300px;
        height: 300px;
        opacity: 0;
        background: white;
        border-radius: 5%;
        border-color: #d3d3d3;
        border-width: thin;
        transform: scaleY(0.8) skewX(10deg);
        transform-origin: 50% 0%;
        transition-duration: 0.25s;
      }
      .button:hover + .object {
        opacity: 1;
        transform: scaleY(1) skewX(0deg);
      }